<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="div-blur div-bkg"></div>
  <div class="div-text row">
    <h1 class="offset-md-5">
      Welcome to {{ title }}!
    </h1>
    <div class="row offset-md-5" style="padding-top: 4%" >
      <!--<app-login></app-login>-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--<h1>{{title}}</h1>-->
<!--<nav>-->
  <!--<a routerLink="/service">Dashboard</a>-->
  <!--<a routerLink="/hero">Heroes</a>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->


