.div-bkg{
  position: fixed;
  height:100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background: url("../imgs/mainbackground.jpg") no-repeat;
}

.div-blur {
  float: left;
  width: 100%;
  background-size: cover;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.div-text{
  text-align: center;
  position: relative;
  padding-top: 5%;
}



