.div-bkg{
  position: fixed;
  height:100%;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  background: url("../imgs/mainbackground.jpg") no-repeat;
}

.div-blur {
  float: left;
  width: 100%;
  background-size: cover;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.div-text{
  text-align: center;
  position: relative;
  padding-top: 5%;
}

form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}

form input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  display: block;
  margin: 0 auto 10px auto;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius:3px;
  width: 250px;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  color: black;
  font-weight: 300;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: deepskyblue;
}
form button{
  width: 250px;
  padding: 10px 15px;
  background-color: white;
  color: deepskyblue;
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
  display: block;
  margin:0 auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form button:hover{
  background-color: #f5f7f9;
}

